certifi==2018.11.29
chardet==3.0.4
colorama==0.4.1
configparser==3.5.0
crayons==0.1.2
Django==2.1.5
gunicorn==19.9.0
idna==2.8
pytz==2018.7
requests==2.21.0
selenium==3.141.0
urllib3==1.24.1
webdriver-manager==1.7
whitenoise==4.1.2
