body {
  text-align: center;
  margin: 10%;
  background: #F5F6F7;
  color: #364251;
}

h1 {
  font-size: 32px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
}

img {
    width:  100%;
    height: 100%;
    object-fit: cover;
}

.meow_grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 250px 150px;
}
