<html>
  <head>
    {% block title %}<title>NewMeow</title>{% endblock %}
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />

    {% load static %}
    <link rel='stylesheet' type='text/css' href="{% static 'reset.css' %}" />
    <link rel='stylesheet' type='text/css' href="{% static 'style.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Lobster+Two" rel="stylesheet">

  </head>
  <body>
    {% block header %}
    <header>
      <div class='nav_bar_blue'>
        <h1 class='nav_logo'>NewMeow</h1>
        <a href="">Home</a>
      </br>
        <a href="/fave_meow_pics">Faves</a>
      </div>
      <div class='nav_bar_pink'></div>
      <div class='nav_bar_orange'></div>
      <div class='nav_bar_yellow'></div>
      <div class='nav_bar_lt_yellow'></div>
    </header>
    {% endblock %}
    <div class='below_header'>
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
